SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_ALLOW_INSECURE_TLS=false

RETAILCRM_BASE_URL=https://xmamyrov.retailcrm.ru
RETAILCRM_API_KEY=
RETAILCRM_SITE_CODE=xmamyrov
RETAILCRM_ORDER_TYPE=main
RETAILCRM_ORDER_METHOD=shopping-cart
RETAILCRM_STATUS=new
RETAILCRM_UTM_FIELD_CODE=utm_source

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=-1003953849238
SYNC_ENDPOINT_SECRET=
